{% extends 'base.html.twig' %}
{% block title%} Liste des challenges{% endblock %}

{% block body %}

 {% if challengerejoints %}
    <table id="articles" class="table table-striped">
      <thead>
        <tr>
          <th>Titre</th>
          <th>type</th>
          <th>description</th>
          <th>date debut </th>
          <th>date fin </th>
          
          <th>niveau</th>

          
        </tr>
      </thead>
      <tbody>
        {% for challengerejoint in challengerejoints %}
          <tr>
           <td>{{ challengerejoint.titre }}</td>
            <td>{{ challengerejoint.type }}</td>
            <td>{{ challengerejoint.description }}</td>
           <td>{{ challengerejoint.dateDebut|date('d/m/Y') }}</td>
           <td>{{ challengerejoint.dateFin|date('d/m/Y') }}</td>
            
            
            
            <td>{{ challengerejoint.idNiveau }}</td>

            
           <td>
              <a href="/challenge/{{ challengerejoint.id }}" class="btn btn-dark">Détails</a>
              <a href="/challenge/edit/{{ challengerejoint.id }}" class="btn btn-dark">Modifier</a>
               
              <a href="/challenge/delete/{{ challengerejoint.id }}" class="btn btn-danger" 
              onclick="return confirm('Etes-vous sûr de supprimer cet article?');">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucun challenges</p>
  {% endif %} 
  <a href="/challenge/new/" class="btn btn-dark">créer</a>
    <a href="/challenge/afficheChallenge/" class="btn btn-dark">affiche</a>

   <a href="/classement/home/" class="btn btn-dark">classement</a>
       <a href="/niveau/home/" class="btn btn-dark">niveau</a>
{% endblock body %}