{% extends 'baseBack.html.twig' %}
{% block body %}

    <div class="container mt -4">
        <h3>Gérer les objectifs prédéfinis</h3>
        <br>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-right">
            <a href="{{ path('ajouterObjectifPred')}}" class="btn btn-primary">Ajouter un objectif</a>
            <button id="button" type="button" class="btn btn-outline-default btn-rounded waves-effect">	<a href="{{ 'triObjectifPredRep' }}"  class="at-linkactive">Trier par réponse </a></button>
            <button id="button" type="button" class="btn btn-outline-default btn-rounded waves-effect">	<a href="{{ 'triObjectifPredDesc' }}"  class="at-linkactive">Trier par description </a></button>
            <input type="text" id="search" class="form-control" placeholder="Search">
        </div>
        <div id="Table">
        <table id="tableObj" class="table table-striped">
            <script src="{{ asset('/assets/js/jquery-3.3.1.min.js') }}"></script>
            <thead>
            <tr>
                <th>Description</th>
                <th>Réponse</th>
            </tr>
            </thead>
            <tbody>
            {% for objectif in objectifs %}
            <tr>
                <td>{{ objectif.description }}</td>
                <td>{{ objectif.duree }}</td>
                <td>
                    <a href="{{ path('modifierObjectifPred', {id: objectif.id}) }}" class="btn btn-secondary">Modifier</a>
                </td>
                <td>
                    <a href="{{ path('supprimerObjectifPred', {id: objectif.id}) }}" class="btn btn-danger" >Supprimer</a>
                </td>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableObj tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();
                    }
                    else
                    {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
{% endblock %}
